<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<style>
    /*
A Book Apart color
color:#00b4db;
color:#8bc43d;
color:#815c84;
color:#007b69;
color:#ae6e29;
color: #ffc40a;
color:#f05c28;
*/
    
    .h-card {
        font-family: Ubuntu, sans-serif;
        font-size: 10pt;
        color: #999;
    }
    
    .h-card a,
    .h-card .p-name {
        text-decoration: none;
        color: #999;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
    }
    
    .h-card a:hover {
        color: #00b4db;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
    }
    
    .h-card a.arrow::after {
        content: '\200A\2192';
        opacity: 0.01;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    
    .h-card a.arrow:hover::after {
        opacity: 1;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    
    .h-card address {
        font-style: normal;
        display: inline-block;
    }
    
    .h-card {
        width: auto;
    }
    
    .h-card td.photo {
        width: 80px;
    }
    
    .h-card td.info {
        width: 200px;
    }
    
    .h-card td {
        vertical-align: top;
    }
    
    .h-card .u-photo {
        border: none;
    }
    
    .h-card dl {
        margin-left: .75em;
        margin-top: 0;
    }
    
    .h-card dt,
    .h-card dd {
        line-height: 1.25em;
    }
    
    .h-card dt {
        clear: left;
        float: left;
        color: #f05c28;
    }
    
    .h-card dd {
        margin-left: 4.5em;
    }
    
    .h-card .hide {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
    
    .h-card .who-am-i {
        margin-left: 0;
    }
    
    .h-card .who-am-i .p-name {
        font-weight: bold;
    }
    
    .h-card .favicon {
        display: inline-block;
        margin-left: 0;
        margin-right: .5em;
        margin-top: .5em;
        float: left
    }
    
    .h-card .favicon a {
        width: 16px;
        height: 16px;
        display: block;
    }
    
    .h-card .favicon a {
        -webkit-transition: -moz-transform 0.3s;
        -moz-transition: -webkit-transform 0.3s;
        -o-transition: -o-transform 0.3s;
        transition: transform 0.3s;
    }
    
    .h-card .favicon a:hover {
        -moz-transform: rotate(22.5deg);
        -webkit-transform: rotate(22.5deg);
        -o-transform: rotate(22.5deg);
        transform: rotate(22.5deg);
    }
    
    .h-card .favicon a>img {
        color: white;
    }
    
    .h-card .twitter {
        background-color: #6FA8DC;
    }
    
    .h-card .github {
        background-color: #999999;
    }
    
    .h-card .stackoverflow {
        background-color: #E69138;
    }
</style>
<table class="h-card" cellpadding="0px" cellspacing="0px">
    <tbody>
        <tr>
            <td class="photo" data="photo">
                <img class="u-photo" alt="Adventurous me!" title="Trip to the Netherland" src="https://en.gravatar.com/userimage/20060482/53f20c3e61b3f95397d3a2a5497a5cba?size=96" />
            </td>
            <td class="info" data="info">
                <dl>
                    <dt class="me">
						<span class="p-name">
							<span class="p-given-name">&Eacute;douard</span> <span class="p-family-name">Lopez</span>
						</span>
					</dt>
                    <dd data="name" class="who-am-i header">
                        &nbsp;&ndash;
                        <span class="p-job-title"><abbr title="user experience">UX</abbr> developer</span>
                    </dd>
                    <dt>Address:</dt>
                    <dd data="address">
                        <address>
							<a class="p-adr h-adr arrow" href="http://is.gd/lyREcq">
								<!-- <span class="p-organization-name">Akema SAS</span><br> -->
								<!-- <span class="p-street-address">3 Chemin de Marticot</span> -->
								<!-- <span class="p-postal-code">33610</span> -->
								<span class="p-locality">Cestas</span>,
								<span class="p-country-name">France</span>
							</a>
						</address>
                    </dd>
                    <dt data="phone">Phone:</dt>
                    <dd>
                        <a class="p-tel arrow" href="tel:+33.556.787.250" value="+33556787250" target="_blank">+33 556 787 250</a>
                    </dd>
                    <dt data="website">Website:</dt>
                    <dd>
                        <a class="p-name u-url arrow" href="http://akema.fr" target="_blank">akema.fr</a>
                    </dd>
                    <dt class="hide" data="social">Social:</dt>
                    <dd class="favicon">
                        <a class="twitter" href="https://twitter.com/edouard_lopez" target="_blank">
                            <img alt="twitter" src="http://blog.edouard-lopez.com/images/social/twitter.png">
                        </a>
                    </dd>
                    <dd class="favicon">
                        <a class="github" href="https://github.com/edouard-lopez" target="_blank">
                            <img alt="github" src="http://blog.edouard-lopez.com/images/social/github.png">
                        </a>
                    </dd>
                    <dd class="favicon">
                        <a class="stackoverflow" href="https://careers.stackoverflow.com/edouard-lopez" target="_blank">
                            <img alt="stackoverflow" src="http://blog.edouard-lopez.com/images/social/stackoverflow.png">
                        </a>
                    </dd>
                </dl>
                </p>
            </td>
        </tr>
    </tbody>
</table>